/* CSS */

body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 400px;
}
ul,
ol { 
    display: inline-block;
    text-align: left;
}

.description, .description-paragraph{
    background-color: mintcream;
}

.ingredients, h3, .list > li{
    background-color: aliceblue;
}

.steps, .layer, ol > li{
    background-color: lavender;
}


